/* Estilos para todo el proyecto */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

body {
    font-family: Mon;
    background: url('/final/static/imagenes/venta-auto-min.jpg') no-repeat center center fixed;
    background-size: cover;
    /* color: white;  */
}

label{
    width: 400px;
    padding: 5px;
    margin: 5px;
    background-color: #0000000a;
    color: #000000;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    font-size: 85%;
    font-weight: 800;
    font-size: 2vh;
    text-shadow: #ffffff 0 0 5px;
    
}

input{
    width: 400px;
    padding: 5px;
    margin: 5px;
    background-color: #05050500;
    color: #000000;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    font-size: 85%;
    font-weight: 800;
    font-size: 2vh;
    text-shadow: #ffffff 0 0 5px;
    
}


#tableta {
    display: grid;
    align-items: end;
}

.contenedor-centrado {
    display: flex;
    width: 100%;
    justify-content: center;
}

.logo-centrado {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 120px;
}

.navbar-index {
    margin: 0;
    padding: 0;
    top: 0;
    width: 100vw;
    height: 100px;
    background-color: #857d7d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    margin-bottom: 20px;
    position: fixed !important;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.logo-nav {
    height: 80%;
    overflow: hidden;
    margin-left: 1em;
    width: 30vh;
    height: 30vh;
}

p {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f9f9f9;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2, h3,  h5, h6 {
    text-align: center;
    color: #000000;
    font-size: 4vh;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 50px;
    background-color: #1a1a1a6b;
    border: 1px solid lightslategray;
    border-radius: 5px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

table {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: #1a1a1a54;
    border: 1px solid lightslategray;
    border-radius: 5px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

input[type="submit"] {
    padding: 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

button {
    padding: 8px;
    margin: 4px;
    background-color: #ffffff00;
    color: #000000;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-shadow: #ffffff 0 0 5px;
    font-size: 1.8vh;
    font-weight: 800;
}

button:hover {
    color: #ffffff;
    transition: 1s;
}

a {
    padding: 5px;
    margin: 5px;
    background-color: #ffffff00;
    color: #000000;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    font-size: 85%;
    font-weight: 800;
    font-size: 2vh;
    text-shadow: #ffffff 0 0 5px;
}
#entrar{
    padding: 5px;
    margin-top: 20px;
    background-color: #ffffff00;
    color: #000000;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    font-size: 85%;
    font-weight: 800;
    font-size: 2vh;
    text-shadow: #ffffff 0 0 5px;
}

#entrar:hover {
    color: #ffffff;
    transition: 1s;
}

#logout {
    margin-right: 5em;
    background-color: #eb0d0d85; /* Rojo */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    cursor: pointer;
    
}
a:hover {
    color: #ffffff;
    transition: 1s;
}

#form-obtener-producto{
    margin: 0 auto;
    padding: 50px;
    background-color: #1a1a1a6b;
    border: 1px solid lightslategray;
    border-radius: 5px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

/* ******************************************************************** */
.footer-links {
    margin-top: 350px;
    background: #4a505c9d;
    color: #ffffff;
    font-size: 12px;
    padding: 5px 0;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
   
}

.footer-container a {
    color: #FFFFFF;
    
    
}

.footer-container ul {
    margin: 0 auto;
    list-style:none;


}

.footer-container ul li {
    line-height: 2.8;

}

.footer-copy {
    background: #2f3640;
    color: #616161;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-shadow: #ffffff 0 0 5px;
}

footer a:hover{
    color: #000000;
    transition: 2s;

}

.footer-copy h3{
    margin: 0;
    padding: 10px;
    
}